<h1 class="text-4xl text-700 text-center font-semibold"><%= current_user.name %>さんのマイページ</h1>
<% if !@posts.nil? %>
<h1 class="text-4xl text-700 font-semibold">現在の目標</h1>
    <% @posts.each do |post| %>
      <h2>目標:<%= post.title %></h2>
      <p>締切:<%= post.due_date %></p>
      <p>詳細:<%= post.introduction %></p>
      <button>アクション</button>
    <% end %>
  <% else %>
      <p>投稿がありません</p>
<% end %>

<h1 class="text-4xl text-700 font-semibold">参加している目標</h1>
<!-- 要修正 -->
<% @follows.each do |follow| %>
  <%= follow.post_id %>
<% end %>
<p>参加している目標はないよ</p>


<section class="center-vertical">
  <h1 class="text-4xl text-700 font-semibold"><%= current_user.name %>さんの参加している目標</h1>
  <a href="#">目標からはずれる</a><br>
</section>
